[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/mabelHua
[access "refs/for/refs/*"]
	read = group user/mabelHua
	push = group user/mabelHua
	label-Code-Review = -2..+2 group user/mabelHua
	label-Verified = -1..+1 group user/mabelHua
	rebase = group user/mabelHua
	removeReviewer = group user/mabelHua
	submit = group user/mabelHua
[access "refs/heads/*"]
	read = group user/mabelHua
	create = group user/mabelHua
	push = +force group user/mabelHua
	pushMerge = group user/mabelHua
[access "refs/tags/*"]
	push = group user/mabelHua
	push = +force group user/mabelHua
